body {
    background-color: #1d1d1d;
    color: #fff;
}
.bg-dark {
    background-color: transparent!important;
}

.navbar-dark .navbar-toggler {
    border: none;
}
.navbar-dark .navbar-toggler:focus {
    outline: none;
}